    
    <definition name="<%pagename%>" <%templatetype%>="<%template%>">
        <Generate:loop>
        <put-attribute name="<%name%>" value="<%value%>" />
        </Generate:loop>
    </definition>


